@import url("fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.title {
  text-align: center;
  color: #383838;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 47px;
}

hr {
  margin: 0 auto 80px;
  background-color: #f5bd41;
  border: none;
  width: 100px;
  height: 4px;
}

.container {
  margin: 0 auto;
  padding: 120px 104px;
}

.offer-block {
  height: 569px;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.offer {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-offer {
  margin-bottom: 48px;
}

.basic-text {
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-weight: 500;
}

.footer-text {
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
}

.footer-blocks {
  height: 625px;
  background-color: #10367c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-inf {
  display: flex;
  gap: 16px;
}

.footer-block {
  width: 400px;
}

.copyright {
  font-size: 14px;
  color: #ffffff;
}
