@import url("fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
}

.title {
  text-align: center;
  color: #383838;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 47px;
}

hr {
  margin: 0 auto 80px;
  background-color: #f5bd41;
  border: none;
  width: 100px;
  height: 4px;
}

.container {
  margin: 0 auto;
  padding: 120px 104px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.basic-text {
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-weight: 500;
}

.top-section {
  min-height: 100vh;
  padding-top: 50px;
  background-image: url("../images/topsection-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section__logo {
  width: 205px;
  height: 40px;
}

.top-section__header {
  margin-bottom: 202px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.menu__item {
  color: #ffffff;
  text-decoration: none;
}

.menu__item--active {
  border-bottom: 4px solid #f5bd41;
  padding-bottom: 12px;
}

.header-icon {
  align-items: center;
  gap: 24px;
}

.header-icon__night-mode {
  display: flex;
  width: 30px;
  height: 30px;
}

.header-icon__account {
  display: flex;
  width: 40px;
  height: 40px;
}

.main__heading {
  font-size: 50px;
  color: #ffffff;
  line-height: 59px;
  width: 542px;
  margin-bottom: 100px;
}

.search {
  margin-bottom: 120px;
}

.search__labels {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.search__destination {
  margin-left: 24px;
  margin-right: 221px;
}

.search__input {
  height: 64px;
  background: #ffffff;
  border-radius: 8px;
}

.search__input-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  padding: 24px;
}

.search__input-item--destination {
  border: none;
  border-radius: 8px;
  flex-grow: 1;
}

.search__input-item--dates {
  min-width: 259px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
  text-align: center;
}

.search__input-item--guests {
  min-width: 314px;
  border: none;
  text-align: center;
}

.search__button {
  width: 192px;
  background: #3077c6;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: #ffffff;
}

.main__apps {
  display: flex;
  gap: 17px;
  justify-content: center;
}

.main__googleplay-logo {
  width: 135px;
  height: 40px;
}

.main__appstore-logo {
  width: 120px;
  height: 40px;
}

.offer {
  height: 570px;
}

.offer__item {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__img {
  margin-bottom: 48px;
}

.footer-text {
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
}

.footer {
  height: 625px;
  background-color: #10367c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-inf {
  display: flex;
  gap: 16px;
}

.footer-inf__block {
  width: 400px;
}

.footer-inf__copyright {
  font-size: 14px;
  color: #ffffff;
}
