@import url("fonts.css");

:root {
  --col-width: calc(100% / 12);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: calc(var(--col-width) * 6);
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
}

.title {
  text-align: center;
  color: #383838;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 47px;
}

hr {
  margin: 0 auto 80px;
  background-color: #f5bd41;
  border: none;
  width: 100px;
  height: 4px;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 120px 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.basic-text {
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-weight: 500;
}

.top-section {
  min-height: 100vh;
  padding-top: 50px;
  background-image: url("../images/topsection-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-section__container {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section__logo {
  width: 205px;
  height: 40px;
}

.top-section__header {
  margin-bottom: 200px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.menu__item {
  color: #ffffff;
  text-decoration: none;
}

.menu__item--active {
  border-bottom: 4px solid #f5bd41;
  padding-bottom: 12px;
}

.header-icon {
  align-items: center;
}

.header-icon__night-mode {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.header-icon__account {
  display: flex;
  width: 40px;
  height: 40px;
}

.header-icon__menu {
  display: none;
}

.main__heading {
  font-size: 50px;
  color: #ffffff;
  line-height: 59px;
  margin-bottom: 100px;
}

.search__labels {
  display: flex;
  padding-left: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.search__inputs {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 120px;
}

.search__item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 20px 24px;
}

.search__input-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  padding: 0;
  width: auto;
  border: none;
  background: none;
  overflow: hidden;
}

.search__item-icon {
  display: none;
}

.search__input-label {
  display: none;
}

.search__input-item-destination {
  width: 100%;
}

.search__input-dates {
  justify-content: center;
  gap: 8px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.search__input-date {
  overflow: hidden;
}

.search__input-guests {
  justify-content: space-between;
}

.search__input-button {
  padding: 0;
  justify-content: center;
  background: #3077c6;
  border-radius: 8px;
}

.search__button-submit {
  width: 100%;
  text-align: center;
  color: #ffffff;
  border: none;
  background: none;
}

.main__apps {
  display: flex;
  gap: 17px;
  justify-content: center;
}

.main__googleplay-logo {
  width: 135px;
  height: 40px;
}

.main__appstore-logo {
  width: 120px;
  height: 40px;
}

.offer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__img {
  width: 100px;
  height: 100px;
}

.offer__text {
  margin-top: 48px;
  text-align: center;
}

.footer-inf__link {
  text-decoration: none;
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
}

.footer {
  background-color: #10367c;
}

.footer__logo--responsive {
  display: none;
}

.footer-inf {
  margin-bottom: 64px;
}

.footer-inf__copyright {
  font-size: 14px;
  color: #ffffff;
}

/* For tablet: */
@media (max-width: 1024px) {
  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }

  .container {
    padding: 80px 16px;
  }

  .top-section {
    padding-top: 0;
  }

  .search__item {
    padding: 10px;
  }

  .offer__item {
    margin-bottom: 40px;
  }

  .offer__items {
    margin-bottom: -40px;
  }
}

/* For mobile: */
@media (max-width: 768px) {
  :root {
    --col-width: calc(100% / 6);
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .container {
    padding: 40px 16px;
  }

  hr {
    display: none;
  }

  .basic-text {
    font-size: 15px;
    line-height: 18px;
  }

  .title {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 33px;
  }

  .top-section {
    padding-top: 0;
  }

  .top-section__container {
    padding-top: 12px;
  }

  .top-section__logo {
    width: 122px;
    height: 24px;
  }

  .top-section__header {
    margin-bottom: 50px;
  }

  .menu {
    display: none;
  }

  .header-icon__night-mode {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  .header-icon__account {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .header-icon__menu {
    display: flex;
    width: 24px;
    height: 16px;
  }

  .main__heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .search__labels {
    display: none;
  }

  .search__inputs {
    padding: 8px;
    background: #f5bd41;
    gap: 8px;
    border-radius: 0;
    margin-bottom: 30px;
  }

  .search__item {
    border-radius: 4px;
    background: #ffffff;
  }

  .search__input-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  .search__input-destination {
    gap: 8px;
    padding: 16px 12px;
  }

  .search__item-icon {
    display: flex;
    width: 16px;
    height: 16px;
  }

  .search__input-dates {
    background: #f5bd41;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 8px;
  }

  .search__input-date {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 6px 8px;
  }

  .search__input-label {
    display: flex;
    font-size: 12px;
  }

  .dash {
    display: none;
  }

  .search__input-guests {
    padding: 6px 8px;
  }

  .search__input-guest {
    padding-left: 8px;
    border-right: 1px solid #bfbfbf;
  }

  .search__input-guests .search__input-guest:last-child {
    border-right: none;
  }

  .search__input-guests .search__input-guest:first-child {
    padding-left: 0;
  }

  .search__input-button {
    background: #3077c6;
    font-size: 20px;
    border-radius: 4px;
    padding: 0;
  }

  .search__button-submit {
    padding: 15px 125px;
  }

  .offer__container {
    padding: 25px 75px 40px;
  }

  .offer__item {
    margin-bottom: 40px;
  }

  .offer__text {
    margin-top: 16px;
  }

  .offer__img {
    width: 70px;
    height: 70px;
  }

  .footer__logo--responsive {
    display: block;
    height: 19px;
    margin: 0 auto 40px;
  }

  .footer-inf.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 32px;
  }

  .footer-inf .footer-inf__block:first-child {
    justify-content: flex-end;
  }

  .footer-inf .footer-inf__block:last-child {
    justify-content: flex-start;
  }

  .footer-inf__block {
    display: flex;
    justify-content: center;
  }

  .footer-inf__link {
    color: #ffffff;
    text-decoration-line: underline;
  }

  .footer-text {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 0;
  }

  .footer-item {
    display: none;
  }

  .footer-inf__copyright--responsive {
    text-align: center;
    font-size: 12px;
  }
}
